<!--
	Plugin site template

	You can either customize this file and save as {plugin name}.html or - to
	avoid redundant efforts - write your README file in restructuredText, rst2html
	it and copy the sections from the generated HTML file to below.
-->
<h2>{plugin name}</h2>

<div class="section" id="index">
	<ul>
		<li><a href="#about">About</a></li>
		<li><a href="#requirements">Requirements</a></li>
		<li><a href="#installation">Installation</a></li>
		<li><a href="#usage">Usage</a></li>
		<li><a href="#known-issues">Known issues</a></li>
		<li><a href="#license">License</a></li>
		<li><a href="#ideas-questions-patches-and-bug-reports">Ideas, questions, patches and bug reports</a></li>
	</ul>
</div>

<div class="section" id="about">
	<h3>What {plugin name} does</h3>
	<p>Describe what your plugin does, the job it fullfills, the functionality it provides and so on</p>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="requirements">
	<h3>Requirements</h3>
	<p>Note that you will have to customize this requirements according to your
	plugin</p>
	<p>For compiling the plugin yourself, you will need the GTK (&gt;= 2.8.0) libraries
	and header files. You will also need its dependency libraries and header
	files, such as Pango, Glib and ATK. All these files are available at
	<a class="reference external" href="http://www.gtk.org">http://www.gtk.org</a>.</p>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="installation">
	<h3>Installation</h3>
	<p>Describe in short words what has to be done to install your plugin. Note
	that, if your plugin is delivered within the Geany Plugins project, there is
	no need for an individual installation.</p>

	<p>Compiling and installing the code is done by the following three commands:
	<code>
	$ ./configure<br />
	$ make<br />
	$ make install
	</code>
	</p>

	<p>For more configuration details run
	<code>$ ./configure --help</code>
	</p>
	<p>If there are any errors during compilation, check your build environment
	and try to find the error, otherwise contact one of the authors.</p>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="usage">
	<h3>Usage</h3>
	<p>Describe in short words what has to be done to use your plugin correctly and
	as intended.</p>
	<p>After installed successfully, load the plugin in Geany's plugin manager
	and new menu items in the Edit menu will appear. You can
	change the keyboard shortcuts in Geany's preferences dialog.</p>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="known-issues">
	<h3>Known issues</h3>
	<ul class="simple">
		<li>still in development...</li>
	</ul>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="license">
	<h3>License</h3>
	<p>Don't forget to customize the license according to the actual license
	to which terms your plugin actually is distributed.</p>

	<p>&quot;{plugin name}&quot; is distributed under the terms of the
	GNU General Public License as published by the Free Software Foundation;
	either version 2 of the	License, or (at your option) any later version.  A
	copy of this license can be found in the file COPYING included with the
	source code of this	program.</p>

	<p><a href="#index">back to top</a></p>
</div>

<div class="section" id="ideas-questions-patches-and-bug-reports">
	<h3>Ideas, questions, patches and bug reports</h3>
	<p>If your plugins concerns to the Geany Plugins project, you can leave the
	Github issue tracker linked as it is, you decided yourself what information
	you will provide to contact you.</p>

	<p><a class="reference external" href="https://github.com/geany/geany-plugins/issues">Github issue tracker</a></p>

	<p><a href="#index">back to top</a></p>
</div>

